.container{
  // display: flex;
  // justify-content: space-around;

  form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 8px;

  }

  .otherFileSelction{
    display: flex;
    flex-direction: column;
  }
}
