
.result_section{
  padding: 48px 0;
  overflow: auto;
  .editDoctSection{
    width: 100%;
    h2{
      text-align: center;
    };
    .editDoctContainer{
      display: flex;
      gap: 64px;
    }
    iframe{
      width: 100%;
      max-width: 850px;
      height: 100vh;
    }
    form{
      justify-content: center;
    }
  }


}